@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,100;9..40,200;9..40,300;9..40,400;9..40,500;9..40,600;9..40,700;9..40,800;9..40,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  .btn{
    @apply font-inter border-none outline-none rounded-[0.32419rem] bg-btnPrimary;
  }
  .btnsec{
    @apply font-inter border-none outline-none rounded-[0.32419rem];
  }
  .imgFocus{
    @apply h-0 w-0 inset-0 block min-w-full min-h-full max-h-full max-w-full;
  }
  .flexCenter{
    @apply flex items-center justify-center;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
}



